<center>
    <h1 style="color:#50545c;">
        <b>Welcome to MyBasecamp!</b>
    </h1>
    <span class="material-symbols-outlined" style="font-size: 20em; color:#0d6efd;">
        landscape
    </span>
    <br>

    <% if user_signed_in? %>
        <h3 class="text-body-secondary"><%= current_user.first_name %>, you're signed in</h3>
    <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
    <% end %>

</center> 
