<h1>Editing project</h1>

<%= render "form", project: @project %>

<br>

<div class="row mb-3">
  <%= button_to "Show this project",  @project, :method => "get" , class: 'btn btn-primary' %>
</div>

<div class="row mb-3">
  <%= button_to "<< Back to projects", projects_path, :method => "get" , class: 'btn btn-primary' %>
</div>