
<h2>Projects</h2>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Project Name</th>
      <th>Description</th>
      <th>Timeframe for Completion</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Show Project</th>
    </tr>
  </thead>
  <tbody>
    <div id="projects">
      <% @projects.each do |project| %>
          <tr>
            <%= render project %>
            <td class="text-center">
              <%= button_to "Show project", project, :method => "get" , class: 'btn btn-outline-secondary btn-sm' %>
            </td>
          </tr>
      <% end %>
    </div>
  <tbody>
</table>

<div class="row mb-3">
  <%= button_to "New project", new_project_path, :method => "get" , class: 'btn btn-primary' %>
</div>
